.container {
  background-color: #c9c9c9;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
    background-color: #999999;
  }
}

.selected {
  background-color: #999999;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;

  &:hover,
  :focus,
  :active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }
}
